@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.reg-heading {
  font-family: Bebas;
  text-align: center;
}

.reg-button {
  margin-right: 10px;
  background-color: #294b93;
}
