.movie-view {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding-left: 200px;
}

.movie-button {
  padding: 10px;
  margin: auto;
}
.movie-genre {
  margin-bottom: 10px;
  margin-top: 20px;
}
