@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.movie-view {
  display: inline-flex;
  margin: 150px;
}

.movie-poster {
  float: left;
  padding: 10px;
}
.movie-info {
  display: inline;
  padding: 100px;
  font-family: Bebas;
}
.label {
  font-weight: 300;
  font-size: 20px;
}
.value {
  font-size: 18px;
}
.movie-button {
  padding: 10px;
  margin: auto;
}
.color-button {
  background-color: #294b93;
}
.back-button {
  background-color: #294b93;
}
